:root {
    --primaryfont: 'Raleway', sans-serif;
    --cor-primaria: #33A8DB;
    --cor-fundo-botao: #252525;
    
}

body {
    font-family: var(--primaryfont);
    background-color: black;
}

h1,h2,h3,p {
    margin: 0;
    padding: 0;
}
p {
    color: white;
    font-size: 16px;
    font-weight: 400;
}
header .banner {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 732px;
}
.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(/assets/images/banner.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.banner-content h1 {
    margin: 16px 0;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    color: #33A8DB;
}

.banner-content p {
    max-width: 510px;
    font-weight: 400;
    font-size: 20px;
}

.banner-content button {
    margin-top: 24px;
    width: 326px;
    height: 57px;
    padding: 19px;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 3.36px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #31A8DD;
    border: 2px solid #3BA1CD;
    background-color: transparent;
    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#course-content {
    margin-top: 230px;
    max-width: 792px;
    max-height: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#course-content h2 {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 6.08px;
    text-transform: uppercase;
    color: var(--cor-primaria);
}

#course-content .module {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 57px;
    width: 535px;
    height: 51px;
    border: 1px solid var(--cor-primaria);
    background-color: var(--cor-fundo-botao);
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: normal;
}

#course-content .module span {
    color: var(--cor-primaria);
    margin-right: 10px;
}


#transform-world p{
    margin-top: 217px;
    width: 244px;
    height: 141px;
    position: absolute;
    left: 198px;
    font-weight: 900;
    font-size: 40px;
    text-transform: lowercase;

}

#professional-challenges {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#professional-challenges h2 {
    margin-top: 500px;
    width: 800px;
    height: 76px;
    color: var(--cor-primaria);
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 6.08px;
    text-align: center;
    text-transform: uppercase;
}
#professional-challenges img {
    margin-top: 32px;
}

#professional-challenges p {
    margin-top: 40px;
    width: 792px;
    height: 76px;
    text-align: center;
    margin-bottom: 150px;
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img {
    margin-bottom: 67px;
}
footer p {
    position: absolute;
    bottom: 38px;
}